.contactForm {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
  width: 500px;
  align-items: center;
}

.contactFormBtn {
  cursor: pointer;
  border-radius: 5px;
  padding: 10px 15px;
  border: 1px solid rgb(74, 97, 126);
  background-color: rgb(179, 179, 223);
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
  color: rgb(0, 0, 0);
}

.contactFormBtn:hover,
.contactFormBtn:focus {
  background-color: #42567a;
  color: #fff;
  transition: all 0.25s;
}

.contactFormInput {
  width: 200px;
  display: block;
  margin-top: 5px;
  padding: 8px;
  outline: none;
  border-radius: 4px;
}
