.container {
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  width: 600px;
  background-color: rgb(197, 211, 211);
  border-radius: 10px;
  margin-top: 20px;
  border: 3px solid black;
}

.container__title {
  text-align: center;
  font-size: 36px;
  font-family: Ubuntu;
}

.container__loading {
  margin-top: 30px;
  text-align: center;
  display: block;
  margin-right: auto;
  margin-left: auto;
  color: rgb(94, 94, 136);
}
